@page "/"

<PageTitle>Home</PageTitle>

<h1>Superstore Orders Analysis</h1>
<p></p>
<h3>Grid</h3>
<p>The Grid view provies a typical grid view with paging, sorting and filtering.
A total row appears at the bottom of the grid which will show totals of all rows matching the current filters
</p>


