@page "/"

<PageTitle>Home</PageTitle>

<h1>Superstore Orders Analysis</h1>
<p></p>
<h3>Grid</h3>
<p>
    The Grid view provides a typical grid view with paging, sorting and filtering.
A total row appears at the bottom of the grid which will show totals of all rows matching the current filters
</p>

<h3>Graph</h3>
<p>
    The Graph view provides a visual representation of Sales, Quantity and Profits for selected categories
    for each year in the dataset.  The X axis is by Season
</p>